<div class="m-2 flex gap-2 justify-end">
  <button class="btn btn-accent btn-sm" (click)="folderModal.show()">
    <i class="bi bi-folder-plus"></i>
    {{ "browser.newFolder" | translate }}
  </button>

  <button class="btn btn-accent btn-sm" (click)="fileModal.show()">
    <i class="bi bi-file-earmark-plus"></i>
    {{ "browser.newFile" | translate }}
  </button>

  <app-create-new-modal
    #folderModal
    modalType="folder"
    (onCreate)="createNewFolder($event)"
  ></app-create-new-modal>
  <app-create-new-modal
    #fileModal
    (onCreate)="createNewFile($event)"
    (onUpload)="onFilesUpload($event)"
    [uploadProgress]="uploadProgress"
  ></app-create-new-modal>
</div>

<div class="overflow-x-auto mt-6">
  <div class="breadcrumbs text-sm">
    <ul>
      <li>
        <a routerLink="/browser">
          <i class="bi bi-house mr-1"></i>
          {{ "browser.home" | translate }}
        </a>
      </li>
      @for (breadcrumb of breadcrumbs; track breadcrumb.path) {
        <li>
          <a
            routerLink="/browser{{ breadcrumb.path }}"
            testTag="breadcrumb-item"
          >
            <i class="bi bi-{{ breadcrumb.icon }} mr-1"></i>
            {{ breadcrumb.name }}
          </a>
        </li>
      }
    </ul>
  </div>

  @if (currentFolder) {
    <table class="table table-pin-rows">
      <thead>
        <tr>
          <!-- For icons-->
          <th></th>
          <th class="text-start" translate>browser.table.name</th>
          <th class="text-end" translate>browser.table.actions</th>
        </tr>
      </thead>

      @if (currentFolder.directories.length > 0) {
        <thead>
          <tr>
            <th colspan="3" translate>browser.table.folders</th>
          </tr>
        </thead>
      }
      <tbody>
        @for (folderName of currentFolder.directories; track folderName) {
          <tr
            (click)="openFolder(folderName)"
            class="hover:bg-base-300"
            testTag="folder-tr"
          >
            <td>
              <i class="bi bi-folder"></i>
            </td>
            <td class="text-start">
              {{ folderName }}
            </td>
            <td class="flex gap-2 justify-end">
              <button
                class="btn btn-sm btn-error"
                (click)="$event.stopPropagation(); deleteFolder(folderName)"
              >
                <i class="bi bi-trash"></i>
                {{ "browser.delete" | translate }}
              </button>
            </td>
          </tr>
        }
      </tbody>

      @if (currentFolder.files.length > 0) {
        <thead>
          <tr>
            <th colspan="3" translate>browser.table.files</th>
          </tr>
        </thead>
      }
      <tbody>
        @for (file of currentFolder.files; track file) {
          <tr
            (click)="openPreview(file)"
            class="hover:bg-base-300"
            testTag="file-tr"
          >
            <td>
              <i
                class="bi"
                [ngClass]="{
                  'bi-filetype-md': fileUtils.isMarkdownFile(file.name),
                  'bi-file-text': fileUtils.isTextFile(file.name),
                  'bi-file-earmark': true,
                }"
              ></i>
            </td>
            <td class="text-start">
              <div class="flex gap-2">
                <div>{{ file.name }}</div>

                @for (tag of limitTags(file.tags); track tag) {
                  <div class="badge badge-soft badge-primary">{{ tag }}</div>
                }
                @if (file.tags.length > tagLimit) {
                  <div class="tooltip">
                    <div class="tooltip-content bg-transparent">
                      <div class="badge badge-soft badge-accent">
                        {{ getRemainingTags(file.tags).join(", ") }}
                      </div>
                    </div>
                    <button class="badge badge-soft badge-accent">
                      +{{ file.tags.length - tagLimit }}
                    </button>
                  </div>
                }

                <button
                  class="btn btn-xs btn-soft btn-secondary"
                  (click)="$event.stopPropagation(); editTagsModal.show(file.name, file.tags)"
                >
                  <i class="bi bi-pencil"></i>
                  <span translate>browser.table.buttonEditTags</span>
                </button>
              </div>
            </td>
            <td class="flex gap-2 justify-end">
              <a class="btn btn-sm btn-accent" routerLink="/editor" [queryParams]="{directory: currentPath, file: file.name}">
                <i class="bi bi-pencil"></i>
                {{ "browser.edit" | translate }}
              </a>
              <button class="btn btn-sm btn-error" (click)="$event.stopPropagation(); deleteFile(file)">
                <i class="bi bi-trash"></i>
                {{ "browser.delete" | translate }}
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <div class="w-full flex justify-center pt-20">
      <span class="loading loading-dots loading-lg"></span>
    </div>
  }
</div>

<app-edit-tags-modal
  #editTagsModal
  (onAdd)="addTag($event)"
  (onRemove)="removeTag($event)"
></app-edit-tags-modal>
