@if (filesToMove.size > 0) {
  <div class="m-2 flex gap-2 justify-between">
    <div class="grow flex gap-2 items-baseline">
      <h3 class="text-base">
        {{
          "browser.label.moving-file" | translate: { count: filesToMove.size }
        }}
      </h3>
      <div class="dropdown dropdown-center">
        <div
          tabindex="0"
          role="button"
          class="btn btn-xs btn-soft btn-circle btn-accent"
        >
          <i class="bi bi-chevron-down"></i>
        </div>
        <div
          tabindex="0"
          class="dropdown-content z-[1] meu p-2 shadow bg-base-100 rounded-box w-52 max-h-52"
        >
          <ul class="flex flex-col overflow-scroll">
            @for (file of filesToMove; track file) {
              <li testTag="browser.file-to-move">{{ file }}</li>
            }
          </ul>
        </div>
      </div>
    </div>

    <div class="flex gap-2">
      <button class="btn btn-error btn-sm" (click)="deleteSelectedFiles()">
        <i class="bi bi-x-circle"></i>
        {{ "browser.deleteAll" | translate }}
      </button>
      <button class="btn btn-warning btn-sm" (click)="cancelMove()">
        <i class="bi bi-x-circle"></i>
        {{ "browser.cancelMove" | translate }}
      </button>
      <button class="btn btn-accent btn-sm" (click)="moveFiles()">
        <i class="bi bi-arrow-down-square"></i>
        {{ "browser.moveHere" | translate }}
      </button>
    </div>
  </div>
} @else {
  <div class="m-2 flex gap-2 justify-end">
    <button class="btn btn-accent btn-sm" (click)="folderModal.show()">
      <i class="bi bi-folder-plus"></i>
      {{ "browser.newFolder" | translate }}
    </button>

    <button class="btn btn-accent btn-sm" (click)="fileModal.show()">
      <i class="bi bi-file-earmark-plus"></i>
      {{ "browser.newFile" | translate }}
    </button>

    <app-create-new-modal
      #folderModal
      modalType="folder"
      (create)="createNewFolder($event)"
    ></app-create-new-modal>
    <app-create-new-modal
      #fileModal
      (create)="createNewFile($event)"
      (upload)="onFilesUpload($event)"
      [uploadProgress]="uploadProgress"
    ></app-create-new-modal>
  </div>
}

<div class="overflow-x-auto mt-6">
  <div class="breadcrumbs text-sm">
    <ul>
      <li>
        <a routerLink="/browser">
          <i class="bi bi-house mr-1"></i>
          {{ "browser.home" | translate }}
        </a>
      </li>
      @for (breadcrumb of breadcrumbs; track breadcrumb.path) {
        <li>
          <a
            routerLink="/browser{{ breadcrumb.path }}"
            testTag="breadcrumb-item"
          >
            <i class="bi bi-{{ breadcrumb.icon }} mr-1"></i>
            {{ breadcrumb.name }}
          </a>
        </li>
      }
    </ul>
  </div>

  @if (currentFolder) {
    <table class="table table-pin-rows">
      <thead>
        <tr>
          <!-- For icons-->
          <th></th>
          <th class="text-start" translate>browser.table.name</th>
          <th class="text-end" translate>browser.table.actions</th>
        </tr>
      </thead>

      @if (currentFolder.directories.length > 0) {
        <thead>
          <tr>
            <th colspan="3" translate>browser.table.folders</th>
          </tr>
        </thead>
      }
      <tbody>
        @for (folderName of currentFolder.directories; track folderName) {
          <tr class="hover:bg-base-300" testTag="folder-tr">
            <td>
              <i class="bi bi-folder"></i>
            </td>
            <td
              class="text-start cursor-pointer"
              (click)="openFolder(folderName)"
            >
              {{ folderName }}
            </td>
            <td class="flex gap-2 justify-end">
              <button
                class="btn btn-sm btn-error"
                (click)="deleteFolder(folderName)"
              >
                <i class="bi bi-trash"></i>
                {{ "browser.delete" | translate }}
              </button>
            </td>
          </tr>
        }
      </tbody>

      @if (currentFolder.files.length > 0) {
        <thead>
          <tr>
            <th colspan="3" translate>browser.table.files</th>
          </tr>
        </thead>
      }
      <tbody>
        @for (file of currentFolder.files; track file.name) {
          <tr class="hover:bg-base-300 group" testTag="file-tr">
            <td class="w-20">
              <input
                type="checkbox"
                [checked]="isFileToMove(file.name)"
                class="checkbox checkbox-sm checkbox-accent hidden peer group-hover:block checked:block"
                (change)="toggleFileToMove(file.name, $event)"
                testTag="browser.file-to-move-checkbox"
              />

              <i
                class="bi group-hover:hidden peer-checked:hidden"
                [ngClass]="{
                  'bi-filetype-md': fileUtils.isMarkdownFile(file.name),
                  'bi-file-text': fileUtils.isTextFile(file.name),
                  'bi-file-earmark': true,
                }"
              ></i>
            </td>
            <td class="text-start cursor-pointer" (click)="openPreview(file)">
              <div class="flex gap-2">
                <div>{{ file.name }}</div>

                @for (tag of limitTags(file.tags); track tag) {
                  <div class="badge badge-soft badge-primary">{{ tag }}</div>
                }
                @if (file.tags.length > tagLimit) {
                  <div class="tooltip">
                    <div class="tooltip-content bg-transparent">
                      <div class="badge badge-soft badge-accent">
                        {{ getRemainingTags(file.tags).join(", ") }}
                      </div>
                    </div>
                    <button class="badge badge-soft badge-accent">
                      +{{ file.tags.length - tagLimit }}
                    </button>
                  </div>
                }

                <button
                  class="btn btn-xs btn-soft btn-secondary"
                  (click)="
                    $event.stopPropagation();
                    editTagsModal.show(file.name, file.tags)
                  "
                >
                  <i class="bi bi-pencil"></i>
                  <span translate>browser.table.buttonEditTags</span>
                </button>
              </div>
            </td>
            <td class="flex gap-2 justify-end">
              <a
                class="btn btn-sm btn-accent"
                routerLink="/editor"
                [queryParams]="{ directory: currentPath, file: file.name }"
              >
                <i class="bi bi-pencil"></i>
                {{ "browser.edit" | translate }}
              </a>
              <!-- Dropdown for more actions -->
              <div class="dropdown dropdown-end">
                <div
                  tabindex="0"
                  role="button"
                  class="btn btn-sm btn-info btn-circle"
                >
                  <i class="bi bi-three-dots text-2xl"></i>
                </div>
                <ul
                  tabindex="0"
                  class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 flex flex-col gap-2"
                >
                  <h1 translate>browser.label.more-actions</h1>

                  <button
                    class="btn btn-sm btn-secondary"
                    (click)="renameFileModal.show(file.name)"
                  >
                    <i class="bi bi-pencil"></i>
                    {{ "browser.rename" | translate }}
                  </button>
                  <button
                    class="btn btn-sm btn-error"
                    (click)="deleteFile(file)"
                  >
                    <i class="bi bi-trash"></i>
                    {{ "browser.delete" | translate }}
                  </button>
                </ul>
              </div>
            </td>
          </tr>
        }

        <!-- Padding for dopdown actions -->
        <tr class="h-40"></tr>
      </tbody>
    </table>
  } @else {
    <div class="w-full flex justify-center pt-20">
      <span class="loading loading-dots loading-lg"></span>
    </div>
  }
</div>

<app-edit-tags-modal
  #editTagsModal
  (add)="addTag($event)"
  (remove)="removeTag($event)"
></app-edit-tags-modal>

<app-rename-file-modal
  #renameFileModal
  (rename)="renameFile($event)"
></app-rename-file-modal>
