<app-search #search [isMobile]="true" class="lg:hidden"></app-search>
<main class="bg-base-200 h-screen flex flex-col">
  <app-header (openMobileSearch)="search.expand()"></app-header>

  <div class="flex-1 overflow-y-scroll">
    <div class="container mx-auto py-4 px-2 h-full flex flex-col">
      <router-outlet></router-outlet>
    </div>

    <div class="toast toast-top toast-start z-5 pt-(--header-height,0)">
      @for (
        notification of notificationService.notifications;
        track notification.id
      ) {
        <div
          class="alert select-none"
          tabindex="0"
          role="button"
          [ngClass]="{
            'alert-info': notification.type === 'info',
            'alert-success': notification.type === 'success',
            'alert-error': notification.type === 'error',
            'alert-warning': notification.type === 'warning',
          }"
          (click)="removeNotification(notification.id)"
          (keyup.enter)="removeNotification(notification.id)"
        >
          <i
            class="bi text-xl"
            [ngClass]="{
              'bi-info-circle': notification.type === 'info',
              'bi-check-circle': notification.type === 'success',
              'bi-exclamation-triangle': notification.type === 'error',
              'bi-exclamation-circle': notification.type === 'warning',
            }"
          ></i>

          <div class="flex flex-col gap-1">
            @if (notification.title) {
              <span class="text-base font-bold" testTag="notification.title">
                {{ notification.title }}
              </span>
            }

            <span testTag="notification.message">{{
              notification.message
            }}</span>
          </div>
        </div>
      }
    </div>
  </div>
</main>
