<div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl mx-auto">
  <div class="card-body">
    @if (showError) {
      <div class="alert alert-error w-full">
        <i class="bi bi-exclamation-triangle-fill"></i>
        <span translate>reset-password.error.invalid-link</span>
      </div>

      <!-- Go to login -->
      <div class="card-actions justify-center">
        <a
          class="btn btn-primary"
          routerLink="/login"
          translate
          testTag="reset-password.login-link"
        >
          reset-password.button.login
        </a>
      </div>
    } @else {
      <h1 class="card-title text-2xl" translate>reset-password.title</h1>
      <h2 class="text-lg" translate [translateParams]="{ username }">
        reset-password.subtitle
      </h2>

      <form
        [formGroup]="resetPasswordForm"
        class="card-body items-center text-center gap-4"
      >
        <fieldset class="fieldset w-full">
          <label class="fieldset-label" for="newPassword" translate>
            change-password-form.label.new-password
          </label>

          <div class="input input-bordered flex items-center gap-2 w-full">
            <i class="bi bi-key-fill"></i>
            <input
              id="newPassword"
              type="password"
              class="grow"
              formControlName="newPassword"
              testTag="reset-password.new"
            />
          </div>
        </fieldset>

        @if (
          newPassword &&
          newPassword.invalid &&
          (newPassword.dirty || newPassword.touched)
        ) {
          <div
            [@reveal]
            role="alert"
            class="alert alert-error mt-2 w-full"
            testTag="password-error"
          >
            <i class="bi bi-exclamation-triangle-fill"></i>
            <span translate>
              @if (newPassword.hasError("required")) {
                register.errors.passwordRequired
              } @else if (newPassword.hasError("minlength")) {
                register.errors.passwordMinLength
              }
            </span>
          </div>
        }

        <fieldset class="fieldset w-full">
          <label class="fieldset-label" for="confirmPassword" translate>
            change-password-form.label.confirm-password
          </label>

          <div class="input input-bordered flex items-center gap-2 w-full">
            <i class="bi bi-key-fill"></i>
            <input
              id="confirmPassword"
              type="password"
              class="grow"
              formControlName="confirmPassword"
              testTag="reset-password.confirm"
            />
          </div>
        </fieldset>

        @if (
          confirmPassword &&
          confirmPassword.invalid &&
          (confirmPassword.dirty || confirmPassword.touched)
        ) {
          <div
            [@reveal]
            role="alert"
            class="alert alert-error mt-2 w-full"
            testTag="confirmPassword-error"
          >
            <i class="bi bi-exclamation-triangle-fill"></i>
            <span translate>
              @if (confirmPassword.hasError("required")) {
                register.errors.passwordConfirmRequired
              } @else if (confirmPassword.hasError("minlength")) {
                register.errors.passwordMinLength
              } @else if (confirmPassword.hasError("passwordMismatch")) {
                register.errors.passwordMismatch
              }
            </span>
          </div>
        }

        <div class="card-actions justify-center mt-4">
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!resetPasswordForm.valid"
            (click)="onResetPassword()"
            translate
          >
            reset-password-form.button.reset
          </button>

          <a
            class="btn btn-primary"
            routerLink="/login"
            translate
            testTag="reset-password.login-link"
          >
            reset-password.button.login
          </a>
        </div>
      </form>
    }
  </div>
</div>
