<div class="flex flex-col h-full gap-2 bg-base-300 p-2 rounded-xl md-preview">
  <div class="flex flex-1 justify-between">
    <div role="tablist" class="hidden sm:tabs tabs-boxed tabs-sm self-end">
      <a
        role="tab"
        class="tab rounded-sm"
        [ngClass]="{
          'tab-active bg-primary text-neutral-content hover:text-neutral-content':
            editorMode() === 'SideBySide',
        }"
        (click)="settings.setMdEditorMode('SideBySide')"
        testTag="editorMode-sideBySide"
        translate
      >
        editor.viewType.sideBySide
      </a>
      <a
        role="tab"
        class="tab rounded-sm"
        [ngClass]="{
          'tab-active bg-primary text-neutral-content hover:text-neutral-content':
            editorMode() === 'EditorOnly',
        }"
        (click)="settings.setMdEditorMode('EditorOnly')"
        testTag="editorMode-editorOnly"
        translate
      >
        editor.viewType.editorOnly
      </a>
      <a
        role="tab"
        class="tab rounded-sm"
        [ngClass]="{
          'tab-active bg-primary text-neutral-content hover:text-neutral-content':
            editorMode() === 'PreviewOnly',
        }"
        (click)="settings.setMdEditorMode('PreviewOnly')"
        testTag="editorMode-previewOnly"
        translate
      >
        editor.viewType.previewOnly
      </a>
    </div>
  </div>
  <div
    class="carousel space-x-2 sm:space-x-0 sm:flex gap-2 justify-stretch h-full"
  >
    <div
      class="editor rounded-lg carousel-item w-full sm:w-1/2 sm:flex-1"
      [class.hidden]="!(isMobile || showEditor())"
    >
      <textarea
        #editorRef
        class="editor-textarea w-full bg-base-200 p-2 rounded-lg outline-hidden resize-none border-none"
        (resize)="onEditorResize()"
        placeholder="{{ 'editor.writeSomething' | translate }}"
        [(ngModel)]="value"
        (keydown)="onEditorKeydown($event)"
        (scroll)="syncScrolls()"
      ></textarea>
    </div>

    <div
      class="preview bg-base-200 rounded-lg carousel-item w-full sm:w-1/2 sm:flex-1 overflow-y-hidden relative"
      [class.no-wrap]="!settings.mdEditor().wrapLines"
      [class.hidden]="!(isMobile || showPreview())"
    >
      <div
        class="preview-content w-full h-full p-2 overflow-y-scroll absolute"
        #previewRef
      ></div>

      @if (!isMobile) {
        <button
          class="btn btn-square btn-sm absolute right-4 top-4 backdrop-blur-xs hover:brightness-120"
          [ngClass]="
            syncPreview ? 'btn-primary bg-primary/70' : 'bg-base-300/70'
          "
          [class.bg-base-300]="!syncPreview"
          (click)="toggleSyncPreview()"
        >
          <i class="bi bi-arrow-down-up"></i>
        </button>
      }
    </div>
  </div>
</div>
