{
	admin localhost:2019
}

:80 {
	handle_path /api/* {
		reverse_proxy {
			to backend:5000
			to backend-replica:5000

			health_uri /ping
			health_interval 10s
			health_timeout 1s

			lb_retries 3
			lb_policy round_robin
			lb_try_duration 5s
		}
	}

	reverse_proxy * {
		to web:80
		to web-replica:80

		health_uri /
		health_interval 10s
		health_timeout 1s

		lb_retries 3
		lb_policy round_robin
		lb_try_duration 5s
	}

	encode gzip
	log
}
