<form
  [formGroup]="changePasswordForm"
  class="card-body items-center text-center gap-4"
>
  <fieldset class="fieldset w-2/3">
    <label class="fieldset-label" for="currentPassword" translate>
      change-password-form.label.current-password
    </label>

    <div class="input input-bordered flex items-center gap-2 w-full">
      <i class="bi bi-key-fill"></i>
      <input
        id="currentPassword"
        type="password"
        class="grow"
        formControlName="currentPassword"
        testTag="change-password.current"
      />
    </div>
  </fieldset>

  @if (
    currentPassword &&
    currentPassword.invalid &&
    (currentPassword.dirty || currentPassword.touched)
  ) {
    <div
      [@reveal]
      role="alert"
      class="alert alert-error mt-2"
      testTag="currentPassword-error"
    >
      <i class="bi bi-exclamation-triangle-fill"></i>
      <span translate>
        @if (currentPassword.hasError("required")) {
          register.errors.passwordRequired
        }
      </span>
    </div>
  }

  <fieldset class="fieldset w-2/3">
    <label class="fieldset-label" for="newPassword" translate>
      change-password-form.label.new-password
    </label>

    <div class="input input-bordered flex items-center gap-2 w-full">
      <i class="bi bi-key-fill"></i>
      <input
        id="newPassword"
        type="password"
        class="grow"
        formControlName="newPassword"
        testTag="change-password.new"
      />
    </div>
  </fieldset>

  @if (
    newPassword &&
    newPassword.invalid &&
    (newPassword.dirty || newPassword.touched)
  ) {
    <div
      [@reveal]
      role="alert"
      class="alert alert-error mt-2"
      testTag="password-error"
    >
      <i class="bi bi-exclamation-triangle-fill"></i>
      <span translate>
        @if (newPassword.hasError("required")) {
          register.errors.passwordRequired
        } @else if (newPassword.hasError("minlength")) {
          register.errors.passwordMinLength
        }
      </span>
    </div>
  }

  <fieldset class="fieldset w-2/3">
    <label class="fieldset-label" for="confirmPassword" translate>
      change-password-form.label.confirm-password
    </label>

    <div class="input input-bordered flex items-center gap-2 w-full">
      <i class="bi bi-key-fill"></i>
      <input
        id="confirmPassword"
        type="password"
        class="grow"
        formControlName="confirmPassword"
        testTag="change-password.confirm"
      />
    </div>
  </fieldset>

  @if (
    confirmPassword &&
    confirmPassword.invalid &&
    (confirmPassword.dirty || confirmPassword.touched)
  ) {
    <div
      [@reveal]
      role="alert"
      class="alert alert-error mt-2"
      testTag="confirmPassword-error"
    >
      <i class="bi bi-exclamation-triangle-fill"></i>
      <span translate>
        @if (confirmPassword.hasError("required")) {
          register.errors.passwordConfirmRequired
        } @else if (confirmPassword.hasError("minlength")) {
          register.errors.passwordMinLength
        } @else if (confirmPassword.hasError("passwordMismatch")) {
          register.errors.passwordMismatch
        }
      </span>
    </div>
  }

  <div class="flex gap-2 justify-center mt-4">
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!changePasswordForm.valid"
      (click)="onUpdatePassword()"
      translate
    >
      change-password-form.button.save
    </button>

    <button
      class="btn btn-secondary"
      type="button"
      (click)="cancelEdit.emit()"
      translate
    >
      change-password-form.button.cancel
    </button>
  </div>
</form>
