<div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl mx-auto">
  <form class="card-body" #loginForm="ngForm">
    <fieldset class="fieldset">
      <label class="fieldset-label" translate>
        login.username
      </label>
      <label class="input input-bordered flex items-center gap-2">
        <i class="bi bi-person-fill"></i>
        <input
          type="text"
          class="grow"
          placeholder="{{ 'login.username' | translate | lowercase }}"
          name="username"
          [(ngModel)]="username"
          #usernameInput="ngModel"
        />
      </label>
    </fieldset>

    <fieldset class="fieldset">
      <label class="fieldset-label" translate>
        login.password
      </label>
      <label class="input input-bordered flex items-center gap-2">
        <i class="bi bi-key-fill"></i>
        <input
          type="password"
          class="grow"
          placeholder="{{ 'login.password' | translate | lowercase }}"
          name="password"
          [(ngModel)]="password"
          #passwordInput="ngModel"
        />
      </label>
    </fieldset>

    @if (message) {
      <div role="alert" class="alert alert-info mt-2">
        <i class="bi bi-exclamation-triangle-fill"></i>
        <span>{{ message | translate }}</span>
      </div>
    }

    @if (error) {
      <div role="alert" class="alert alert-error mt-2">
        <i class="bi bi-exclamation-triangle-fill"></i>
        <span>{{ error | translate }}</span>
      </div>
    }

    <fieldset class="fieldset mt-4">
      <button class="btn btn-primary" (click)="login()" translate>
        login.login
      </button>
      <a routerLink="/signup">
        <button class="btn btn-secondary mt-4 w-full" translate>
          login.signUp
        </button>
      </a>
    </fieldset>
  </form>
</div>
