<div class="card bg-base-300 shadow-sm h-full cursor-pointer hover:bg-base-100">
  <div class="card-body">
    <h2 class="card-title">{{ group.name }}</h2>

    @if (members === null) {
      <div class="flex justify-center mt-auto">
        <span class="loading loading-dots loading-lg"></span>
      </div>
    } @else {
      <p>{{ "group.member-count" | translate: { count: members.length } }}</p>

      <div class="justify-end card-actions">
        @if (canInviteMembers) {
          <button
            class="btn btn-sm btn-primary"
            (click)="onInvite()"
            testTag="groups.card.invite"
            translate
          >
            group.invite-members
          </button>
        }
        <button class="btn btn-sm btn-secondary" translate>
          group.view-members
        </button>
        @if (canEditGroup) {
          <button class="btn btn-sm" (click)="onEdit()" translate>
            group.edit
          </button>
        }
      </div>
    }
  </div>
</div>
