@if (selectedFiles.size > 0) {
  <div class="m-2 flex gap-2 justify-between">
    <div class="grow flex gap-2 items-baseline">
      <h3 class="text-base">
        {{
          "browser.label.moving-file" | translate: { count: selectedFiles.size }
        }}
      </h3>
      <div class="dropdown dropdown-center">
        <div
          tabindex="0"
          role="button"
          class="btn btn-xs btn-soft btn-circle btn-accent"
        >
          <i class="bi bi-chevron-down"></i>
        </div>
        <div
          tabindex="0"
          class="dropdown-content z-[1] meu p-2 shadow bg-base-100 rounded-box w-52 max-h-52"
        >
          <ul class="flex flex-col overflow-scroll">
            @for (file of selectedFiles; track file) {
              <li testTag="browser.file-to-move">{{ file }}</li>
            }
          </ul>
        </div>
      </div>
    </div>

    <div class="flex gap-2">
      <button class="btn btn-error btn-sm" (click)="deleteSelectedFiles()">
        <i class="bi bi-x-circle"></i>
        {{ "browser.deleteAll" | translate }}
      </button>
      <button class="btn btn-warning btn-sm" (click)="cancelSelect()">
        <i class="bi bi-x-circle"></i>
        {{ "browser.cancelMove" | translate }}
      </button>
      <button class="btn btn-accent btn-sm" (click)="moveFiles()">
        <i class="bi bi-arrow-down-square"></i>
        {{ "browser.moveHere" | translate }}
      </button>
    </div>
  </div>
} @else {
  <div class="m-2 flex gap-2 justify-end">
    @if (shareHash) {
      <button class="btn btn-secondary btn-sm" (click)="placeSharedFile()">
        <i class="bi bi-file-plus"></i>
        {{ "browser.placeSharedFile" | translate }}
      </button>
    }

    <button class="btn btn-accent btn-sm" (click)="folderModal.show()">
      <i class="bi bi-folder-plus"></i>
      {{ "browser.newFolder" | translate }}
    </button>

    <button class="btn btn-accent btn-sm" (click)="fileModal.show()">
      <i class="bi bi-file-earmark-plus"></i>
      {{ "browser.newFile" | translate }}
    </button>

    <app-create-new-modal
      #folderModal
      modalType="folder"
      (create)="createNewFolder($event)"
    ></app-create-new-modal>
    <app-create-new-modal
      #fileModal
      (create)="createNewFile($event)"
      (upload)="onFilesUpload($event)"
      [uploadProgress]="uploadProgress"
    ></app-create-new-modal>
  </div>
}

<div class="overflow-x-auto mt-6">
  <div class="breadcrumbs text-sm">
    <ul>
      <li>
        <a
          [routerLink]="linkBasePath + '/browser'"
          [queryParams]="routeQueryParams"
        >
          <i class="bi bi-house mr-1"></i>
          {{ "browser.home" | translate }}
        </a>
      </li>
      @for (breadcrumb of breadcrumbs; track breadcrumb.path) {
        <li>
          <a
            [routerLink]="breadcrumb.path"
            [queryParams]="routeQueryParams"
            testTag="breadcrumb-item"
          >
            <i class="bi bi-{{ breadcrumb.icon }} mr-1"></i>
            {{ breadcrumb.name }}
          </a>
        </li>
      }
    </ul>
  </div>

  @if (currentFolder(); as folder) {
    <table class="table table-pin-rows">
      <thead>
        <tr>
          <!-- For icons-->
          <th></th>
          <th class="text-start" colspan="3" translate>browser.table.name</th>
          <th class="text-end" translate>browser.table.actions</th>
        </tr>
      </thead>

      @if (directories().length > 0) {
        <thead>
          <tr>
            <th colspan="7" translate>browser.table.folders</th>
          </tr>
        </thead>
      }
      <tbody>
        @for (folder of directories(); track folder.path) {
          <tr class="hover:bg-base-300" testTag="folder-tr">
            <td>
              <i class="bi bi-folder"></i>
            </td>

            <td
              colspan="3"
              class="text-start cursor-pointer"
              (click)="openFolder(folder.name)"
            >
              <div class="flex gap-2 items-center">
                {{ folder.name }}
                @if (folder.isFavorite) {
                  <i class="bi bi-star-fill text-yellow-300"></i>
                }
              </div>
            </td>

            <td class="flex gap-2 justify-end">
              <!-- Dropdown for more actions -->
              <div class="dropdown dropdown-end">
                <div
                  tabindex="0"
                  role="button"
                  class="btn btn-sm btn-info btn-circle"
                >
                  <i class="bi bi-three-dots text-2xl"></i>
                </div>
                <ul
                  tabindex="0"
                  class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 flex flex-col gap-2"
                >
                  <h1 translate>browser.label.more-actions</h1>

                  @if (folder.isFavorite) {
                    <button
                      class="btn btn-sm btn-warning"
                      (click)="favorite.unfavoriteDirectory(folder.path)"
                    >
                      <i class="bi bi-star"></i>
                      {{ "browser.unfavorite" | translate }}
                    </button>
                  } @else {
                    <button
                      class="btn btn-sm btn-warning"
                      (click)="favorite.favoriteDirectory(folder.path)"
                    >
                      <i class="bi bi-star-fill"></i>
                      {{ "browser.favorite" | translate }}
                    </button>
                  }

                  <button
                    class="btn btn-sm btn-error"
                    (click)="deleteFolder(folder.name)"
                  >
                    <i class="bi bi-trash"></i>
                    {{ "browser.delete" | translate }}
                  </button>
                </ul>
              </div>
            </td>
          </tr>
        }
      </tbody>

      @if (files().length > 0) {
        <thead>
          <tr>
            <th>
              <div class="flex gap-2 items-center">
                <input
                  type="checkbox"
                  class="checkbox checkbox-sm checkbox-accent"
                  [checked]="areAllFilesSelected"
                  (click)="toggleSelectAllFiles()"
                />
                <span translate>browser.table.files</span>
              </div>
            </th>

            <th class="text-start" translate>browser.table.name</th>
            <th class="text-end" translate>browser.table.file-size</th>
            <th class="text-end" translate>browser.table.modified</th>
            <th class="text-end" translate>browser.table.actions</th>
          </tr>
        </thead>
      }
      <tbody>
        @for (file of files(); track file.path) {
          <tr class="hover:bg-base-300 group" testTag="file-tr">
            <td class="w-20">
              <input
                type="checkbox"
                [checked]="isFileSelected(file)"
                class="checkbox checkbox-sm checkbox-accent hidden peer group-hover:block checked:block"
                (click)="toggleFileSelect(file, $event)"
                testTag="browser.file-to-move-checkbox"
              />

              <i
                class="bi group-hover:hidden peer-checked:hidden"
                [ngClass]="{
                  'bi-filetype-md': fileUtils.isMarkdownFile(file.path),
                  'bi-file-text': fileUtils.isTextFile(file.path),
                  'bi-file-earmark': true,
                }"
              ></i>
            </td>
            <td class="text-start cursor-pointer" (click)="openPreview(file)">
              <div class="flex gap-2">
                <div>{{ file.name }}</div>
                @if (file.isFavorite) {
                  <i class="bi bi-star-fill text-yellow-300"></i>
                }

                @for (tag of limitTags(file.tags); track tag) {
                  <div class="badge badge-soft badge-primary">{{ tag }}</div>
                }
                @if (file.tags.length > tagLimit) {
                  <div class="tooltip">
                    <div class="tooltip-content bg-transparent">
                      <div class="badge badge-soft badge-accent">
                        {{ getRemainingTags(file.tags).join(", ") }}
                      </div>
                    </div>
                    <button class="badge badge-soft badge-accent">
                      +{{ file.tags.length - tagLimit }}
                    </button>
                  </div>
                }

                <button
                  class="btn btn-xs btn-soft btn-secondary"
                  (click)="
                    $event.stopPropagation();
                    editTagsModal.show(file.name, file.tags)
                  "
                >
                  <i class="bi bi-pencil"></i>
                  <span translate>browser.table.buttonEditTags</span>
                </button>
              </div>
            </td>
            <td class="text-end">{{ file.size | byteSize }}</td>
            <td class="text-end">
              <div class="tooltip">
                <div class="tooltip-content">
                  {{ file.modifiedLong }}
                </div>
                {{ file.modifiedShort }}
              </div>
            </td>
            <td class="flex gap-2 justify-end">
              @if (isEditable(file)) {
                <a
                  class="btn btn-sm btn-accent"
                  [routerLink]="[linkBasePath, 'file', file.path, 'edit']"
                  testTag="browser.edit-file"
                >
                  <i class="bi bi-pencil"></i>
                  {{ "browser.edit" | translate }}
                </a>
              }
              <!-- Dropdown for more actions -->
              <div class="dropdown dropdown-end">
                <div
                  tabindex="0"
                  role="button"
                  class="btn btn-sm btn-info btn-circle"
                >
                  <i class="bi bi-three-dots text-2xl"></i>
                </div>
                <ul
                  tabindex="0"
                  class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 flex flex-col gap-2"
                >
                  <h1 translate>browser.label.more-actions</h1>

                  <button
                    class="btn btn-sm btn-accent"
                    (click)="renameFileModal.show(file.name)"
                  >
                    <i class="bi bi-pencil"></i>
                    {{ "browser.rename" | translate }}
                  </button>

                  <button
                    class="btn btn-sm btn-accent"
                    (click)="downloadFile(file)"
                  >
                    <i class="bi bi-download"></i>
                    {{ "browser.download" | translate }}
                  </button>

                  <button
                    class="btn btn-sm btn-accent"
                    (click)="openShareModal(file)"
                  >
                    <i class="bi bi-share"></i>
                    {{ "browser.share" | translate }}
                  </button>

                  @if (file.isFavorite) {
                    <button
                      class="btn btn-sm btn-warning"
                      (click)="favorite.unfavoriteFile(file)"
                    >
                      <i class="bi bi-star"></i>
                      {{ "browser.unfavorite" | translate }}
                    </button>
                  } @else {
                    <button
                      class="btn btn-sm btn-warning"
                      (click)="favorite.favoriteFile(file)"
                    >
                      <i class="bi bi-star-fill"></i>
                      {{ "browser.favorite" | translate }}
                    </button>
                  }

                  <button
                    class="btn btn-sm btn-error"
                    (click)="deleteFile(file)"
                  >
                    <i class="bi bi-trash"></i>
                    {{ "browser.delete" | translate }}
                  </button>
                </ul>
              </div>
            </td>
          </tr>
        }

        <!-- Padding for dopdown actions -->
        <tr class="h-40"></tr>
      </tbody>
    </table>
  } @else {
    <div class="w-full flex justify-center pt-20">
      <span class="loading loading-dots loading-lg"></span>
    </div>
  }
</div>

<app-edit-tags-modal
  #editTagsModal
  (add)="addTag($event)"
  (remove)="removeTag($event)"
></app-edit-tags-modal>

<app-rename-file-modal
  #renameFileModal
  (rename)="renameFile($event)"
></app-rename-file-modal>

<app-share-modal
  #shareModal
  [fileName]="share.fileName()"
  [isPublic]="share.isPublic()"
  [publicLink]="share.publicLink()"
  [userShareLink]="share.userShareLink()"
  (changePublicState)="share.setPublicState($event)"
  (generateUserShareLink)="share.loadUserShareLink()"
></app-share-modal>
