<div class="max-w-[30rem] mx-auto flex flex-col gap-4 mb-4">
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title" translate>settings.language.title</h2>

      <select
        class="select select-accent w-full"
        [(ngModel)]="selectedLanguage"
        (change)="updateLanguage()"
        testTag="language-select"
      >
        <option disabled translate>settings.language.selectLanguage</option>
        @for (lang of settings.languageList; track lang) {
          <option
            [value]="lang"
            [selected]="lang === selectedLanguage"
            translate
          >
            settings.language.{{ lang }}
          </option>
        }
      </select>
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title" translate>settings.group.title</h2>

      <fieldset class="fieldset">
        <label class="cursor-pointer fieldset-label">
          <span class="label-text mr-2 select-none" translate>
            settings.groupSettings.rememberGroupPathLabel
          </span>
          <input
            type="checkbox"
            class="checkbox checkbox-accent"
            [(ngModel)]="group.rememberGroupPath"
            (change)="updateGroupSettings()"
          />
        </label>

        @if (group.groupPath) {
          <span class="text-base-content/60">
            {{
              "settings.groupSettings.rememberedPath"
                | translate: { path: group.groupPath }
            }}
          </span>
        }
      </fieldset>
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title" translate>settings.theme.title</h2>

      <fieldset class="fieldset">
        <label class="label cursor-pointer gap-4">
          <span>
            <i class="bi bi-circle-half mr-2"></i>
            <span translate>settings.theme.auto</span>
          </span>
          <input
            type="radio"
            name="theme-radios"
            class="radio theme-controller"
            value="auto"
            (change)="setTheme('auto')"
            [checked]="settings.theme() === 'auto'"
          />
        </label>
      </fieldset>
      <fieldset class="fieldset">
        <label class="fieldset-label cursor-pointer gap-4">
          <span>
            <i class="bi bi-sun-fill mr-2"></i>
            <span translate>settings.theme.light</span>
          </span>
          <input
            type="radio"
            name="theme-radios"
            class="radio theme-controller"
            value="light"
            (change)="setTheme('light')"
            [checked]="settings.theme() === 'light'"
          />
        </label>
      </fieldset>
      <fieldset class="fieldset">
        <label class="fieldset-label cursor-pointer gap-4">
          <span>
            <i class="bi bi-moon-fill mr-2"></i>
            <span translate>settings.theme.dark</span>
          </span>
          <input
            type="radio"
            name="theme-radios"
            class="radio theme-controller"
            value="dark"
            (change)="setTheme('dark')"
            [checked]="settings.theme() === 'dark'"
          />
        </label>
      </fieldset>
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title" translate>settings.editorSettings.title</h2>

      <select
        class="select select-accent w-full"
        [(ngModel)]="mdEditor.editorMode"
        (change)="updateMdEditorSettings()"
        testTag="editor-mode-select"
      >
        <option disabled translate>
          settings.editorSettings.viewTypeTitle
        </option>
        <option value="SideBySide" translate>editor.viewType.sideBySide</option>
        <option value="EditorOnly" translate>editor.viewType.editorOnly</option>
        <option value="PreviewOnly" translate>
          editor.viewType.previewOnly
        </option>
      </select>

      <fieldset class="fieldset">
        <label class="cursor-pointer fieldset-label">
          <span class="label-text mr-2 select-none" translate>
            settings.editorSettings.showLineNumbers
          </span>
          <input
            type="checkbox"
            class="checkbox checkbox-accent"
            [(ngModel)]="mdEditor.showLineNumbers"
            (change)="updateMdEditorSettings()"
          />
        </label>
      </fieldset>

      <fieldset class="fieldset">
        <label class="cursor-pointer fieldset-label">
          <span class="label-text mr-2 select-none" translate>
            settings.editorSettings.wrapLines
          </span>
          <input
            type="checkbox"
            class="checkbox checkbox-accent"
            [(ngModel)]="mdEditor.wrapLines"
            (change)="updateMdEditorSettings()"
          />
        </label>
      </fieldset>

      <fieldset class="fieldset">
        <label class="cursor-pointer fieldset-label">
          <div class="flex flex-col gap-2 select-none">
            <span class="label-text mr-2" translate>
              settings.editorSettings.experimentalFastRender
            </span>
            <span class="label-text-alt" translate>
              settings.editorSettings.experimentalFastRenderExplanation
            </span>
          </div>
          <input
            type="checkbox"
            class="checkbox checkbox-warning"
            [(ngModel)]="mdEditor.experimentalFastRender"
            (change)="updateMdEditorSettings()"
          />
        </label>
      </fieldset>
    </div>
  </div>
</div>
