<div class="max-w-[30rem] mx-auto flex flex-col gap-4">
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">{{ "settings.language.title" | translate }}</h2>

      <select
        class="select select-accent w-full"
        [(ngModel)]="selectedLanguage"
        (change)="updateLanguage()"
      >
        <option disabled>
          {{ "settings.language.selectLanguage" | translate }}
        </option>
        @for (lang of settings.languageList; track lang) {
          <option [value]="lang" [selected]="lang === selectedLanguage">
            {{ "settings.language." + lang | translate }}
          </option>
        }
      </select>
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">{{ "settings.theme.title" | translate }}</h2>

      <div class="form-control">
        <label class="label cursor-pointer gap-4">
          <span class="label-text">
            <i class="bi bi-circle-half mr-2"></i
            >{{ "settings.theme.auto" | translate }}</span
          >
          <input
            type="radio"
            name="theme-radios"
            class="radio theme-controller"
            value="auto"
            (change)="setTheme('auto')"
            [checked]="settings.theme() === 'auto'"
          />
        </label>
      </div>
      <div class="form-control">
        <label class="label cursor-pointer gap-4">
          <span class="label-text"
            ><i class="bi bi-sun-fill mr-2"></i
            >{{ "settings.theme.light" | translate }}</span
          >
          <input
            type="radio"
            name="theme-radios"
            class="radio theme-controller"
            value="light"
            (change)="setTheme('light')"
            [checked]="settings.theme() === 'light'"
          />
        </label>
      </div>
      <div class="form-control">
        <label class="label cursor-pointer gap-4">
          <span class="label-text"
            ><i class="bi bi-moon-fill mr-2"></i
            >{{ "settings.theme.dark" | translate }}</span
          >
          <input
            type="radio"
            name="theme-radios"
            class="radio theme-controller"
            value="dark"
            (change)="setTheme('dark')"
            [checked]="settings.theme() === 'dark'"
          />
        </label>
      </div>
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">
        {{ "settings.editorSettings.title" | translate }}
      </h2>

      <select
        class="select select-accent w-full"
        [(ngModel)]="mdEditor.editorMode"
        (change)="updateMdEditorSettings()"
      >
        <option disabled>
          {{ "settings.editorSettings.viewType.title" | translate }}
        </option>
        <option value="SideBySide">
          {{ "settings.editorSettings.viewType.sideBySide" | translate }}
        </option>
        <option value="EditorOnly">
          {{ "settings.editorSettings.viewType.editorOnly" | translate }}
        </option>
        <option value="PreviewOnly">
          {{ "settings.editorSettings.viewType.previewOnly" | translate }}
        </option>
      </select>

      <div class="form-control">
        <label class="cursor-pointer label">
          <span class="label-text mr-2">{{
            "settings.editorSettings.showLineNumbers" | translate
          }}</span>
          <input
            type="checkbox"
            class="checkbox checkbox-accent"
            [(ngModel)]="mdEditor.showLineNumbers"
            (change)="updateMdEditorSettings()"
          />
        </label>
      </div>

      <div class="form-control">
        <label class="cursor-pointer label">
          <span class="label-text mr-2">{{
            "settings.editorSettings.rapLines" | translate
          }}</span>
          <input
            type="checkbox"
            class="checkbox checkbox-accent"
            [(ngModel)]="mdEditor.wrapLines"
            (change)="updateMdEditorSettings()"
          />
        </label>
      </div>
    </div>
  </div>
</div>
