<div class="flex flex-col gap-4 h-full">
  <h1 class="font-bold text-2xl">
    {{ "editor.editingFile" | translate: { fileName } }}
  </h1>

  <div
    class="flex flex-col sm:flex-row gap-2 justify-between items-start sm:items-center"
  >
    <div class="flex gap-2 items-center">
      @if (tags.length > 0) {
        <h2 class="text-lg" translate>editor.labelTags</h2>
        @for (tag of tags; track tag) {
          <div class="badge badge-soft badge-primary">{{ tag }}</div>
        }
      }
    </div>

    <div class="flex gap-2 self-end">
      <button
        class="btn btn-secondary"
        (click)="editTagsModal.show(fileName, tags)"
      >
        <i class="bi bi-pencil"></i>
        <span translate>editor.buttonEditTags</span>
      </button>

      <button
        class="btn btn-primary ms-auto"
        (click)="saveContent()"
        testTag="save-button"
        translate
      >
        editor.save
      </button>
    </div>
  </div>

  @if (loading) {
    <div class="skeleton h-72 w-full"></div>
  } @else {
    <app-md-editor
      [(value)]="content"
      class="flex flex-col flex-1 min-h-0"
    ></app-md-editor>
  }
</div>

<app-edit-tags-modal
  #editTagsModal
  (onAdd)="addTag($event)"
  (onRemove)="removeTag($event)"
></app-edit-tags-modal>
