<div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl mx-auto">
  <form class="card-body" #loginForm="ngForm">
    <fieldset class="fieldset">
      <label class="fieldset-label" for="usernameInput" translate>
        login.username
      </label>
      <div class="input input-bordered flex items-center gap-2">
        <i class="bi bi-person-fill"></i>
        <input
          type="text"
          class="grow"
          placeholder="{{ 'login.username' | translate | lowercase }}"
          name="username"
          [(ngModel)]="username"
          #usernameInput="ngModel"
          minlength="4"
          id="usernameInput"
        />
      </div>
    </fieldset>

    <fieldset class="fieldset">
      <label class="fieldset-label" for="passwordInput" translate>
        login.password
      </label>
      <div class="input input-bordered flex items-center gap-2">
        <i class="bi bi-key-fill"></i>
        <input
          type="password"
          class="grow"
          placeholder="{{ 'login.password' | translate | lowercase }}"
          name="password"
          [(ngModel)]="password"
          #passwordInput="ngModel"
          required
          id="passwordInput"
        />
      </div>
    </fieldset>

    @if (message) {
      <div role="alert" class="alert alert-info mt-2">
        <i class="bi bi-exclamation-triangle-fill"></i>
        <span testTag="login.message">{{ message | translate }}</span>
      </div>
    }

    @if (error) {
      <div role="alert" class="alert alert-error mt-2">
        <i class="bi bi-exclamation-triangle-fill"></i>
        <span testTag="login.error">{{ error | translate }}</span>
      </div>
    }

    <fieldset class="fieldset mt-4">
      <button
        class="btn btn-primary"
        (click)="login()"
        testTag="login.button.submit"
        [disabled]="
          !usernameInput.valid ||
          usernameInput.pristine ||
          !passwordInput.valid ||
          passwordInput.pristine
        "
        translate
      >
        login.login
      </button>
      <a routerLink="/signup" [queryParams]="{ redirectUrl }">
        <button class="btn btn-secondary mt-4 w-full" translate>
          login.signUp
        </button>
      </a>
    </fieldset>

    <!-- Forgot password button -->
    <fieldset class="fieldset mt-4">
      <button
        class="btn btn-link w-full"
        (click)="sendPasswordResetEmail()"
        [disabled]="!usernameInput.valid || usernameInput.pristine"
        testTag="login.button.forgot-password"
        translate
      >
        login.forgot-password
      </button>
    </fieldset>
  </form>
</div>
