<div class="flex flex-col gap-4 h-full">
  <h1 class="font-bold text-2xl">
    {{ "preview.viewingFile" | translate: { fileName } }}
  </h1>

  @if (tags.length > 0) {
    <div
      class="flex flex-col sm:flex-row gap-2 justify-between items-start sm:items-center"
    >
      <div class="flex gap-2 items-center">
        <h2 class="text-lg" translate>preview.labelTags</h2>
        @for (tag of tags; track tag) {
          <div class="badge badge-soft badge-primary">{{ tag }}</div>
        }
      </div>
    </div>
  }

  @if (loading) {
    <div class="skeleton h-72 w-full"></div>
  } @else {
    <div
      class="bg-base-300 p-2 rounded-xl md-preview mb-4 min-h-72"
      [class.no-wrap]="!settings.mdEditor().wrapLines"
      [class.whitespace-pre-wrap]="fileType === 'text'"
    >
      <div
        [innerHTML]="content"
        class="preview bg-base-200 p-2 rounded-lg h-full"
      ></div>
    </div>
  }
</div>
